
@{
    ViewBag.Title = "AboutUs";
}
    <h1 style="text-align:center; color:chartreuse">About Us</h1>
    <div class="jumbotron" style="background-color:black; height: 800px;">
        <img src="~/Images/Comics2.jpg" />
        <div class="AboutInfo">
            <h2>
                Devon's Comics is a pop culture store
                focused around visual storytelling.
                Our customers are generally into comics,
                science fiction and fantasy TV and movies.
                We sell Statues, posters, and T-Shirts, too.
                If this sounds like you I'm confident we have
                something you will like!
            </h2>
            <img  src="~/Images/T-shirt.jpg" width="365"/>
        </div>        
    </div>
